<h1 class="welcome">Top 10 High Scores</h1>
<h3>Level <%=@photograph.id%></h3>
<div id="play_again_btn">
<%if(photo=Photograph.find_by_id(@photograph.id+1))%>
<%= link_to 'Next', photograph_path(photo), method: :get%>
<%else%>
<%= link_to 'Go to Main Page', welcome_index_path, method: :get%>
<%end%>
</div>


<table id="score_table">
	<tr>
		<th>Player</th>
		<th>Best Time</th>
	</tr>
	<% @users.each do |user|%>
		<% if(User.last.id == user.id)%>
			<tr id="current_user">
				<td><%=user.name%></td>
				<td><%=user.getScoreStr()%></td>
			</tr>
		<%else%>
			<tr>
				<td><%=user.name%></td>
				<td><%=user.getScoreStr()%></td>
			</tr>
		<%end%>
	<%end%>
</table>