<div id="zoom-wrapper">
	<span>Zoom</span>
	<div class="zoom-btns">
		<div id="minus-btn" class="zoom-btn" style="width:50%"><p>&minus;</p></div>
		<div id="plus-btn" class="zoom-btn" style="width:50%"><p>&plus;</p></div>
	</div>
</div>


<div id="photograph-wrapper">
    <div class="choose-character-menu">

        <p>Which character did you find?</p>
        <%@photograph.characters.each do |character|%>
            <p class="option" id=<%=character.id%> onclick="isFound(this.id)" ><%=character.name%></p>
        <%end%>

    </div>
    <img src= <%= asset_path @photograph.title%> id="photograph">
</div>

<!--side-content-->
<div id="side-content">
    <% @photograph.characters.each do |character|%>
        <div class="character-photo-wrapper">
        <%= image_tag asset_path(character.getImageSrc()), class: "character-photo", id: character.name%>
        <div class="character-photo-name"><%=character.name%></div>
        </div>
    <%end%>
</div>
<!--always to create action-->

<%=form_for(@game.moves.build, remote: true) do |f|%>
    <input type="hidden" id="x" name="x" value="">
    <input type="hidden" id="y" name="y" value="">
    <input type="hidden" id="character_id" name="character_id" value="">
    <%= button_tag(type: "submit", id: "submitBtn", style: "display:none") do%>

  <%end%>
<%end%>

<div id="feedback"></div>
<!--here you will obtain all the characters and create a menu-->
<!--what happens when user clicks on character name?
    need character name, and coordinates. right now how do you get coordinates?
    add this coordinates to the id of the menu.
    the id must be constant. not changing 
-->
